@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  label {
    @apply rounded-sm bg-white py-1 text-center text-lg font-semibold;
  }
}

@layer components {
  div.text-overflow-anim {
    @apply relative;
    animation: leftright 1.5s infinite alternate ease-in-out;
  }

  @keyframes leftright {
    0%,
    20% {
      transform: translateX(0%);
      left: 0%;
    }
    80%,
    100% {
      transform: translateX(-100%);
      left: 100%;
    }
  }
}
